* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease;
}

:root {
  /* Background */
  --blue-background: #c2e7ff;
  --gray-background: #e7e8eb;
  --side-bar-color: #f8fafd;
  --add-btn-color: white;
  --add-btn-hover-color: #f0f0f0;
  --main-content-background: white;
  --folder-color: #f0f4f9;
  --folder-hover: #dfe3e7;
  --folder-option: rgb(214, 214, 214);
  --popup-option: white;
  --popup-option-hover: #e4e4e4;
  --dialog: white;
  --dialog-btn: white;
  --dialog-btn-hover: #f5f8fd;
  --row-border: #c7c7c7;
  --table: white;
  --table-hover: #f0f1f1;
  --web-title: #444746;

  /* Text */
  --blue-text: #004a77;
  --btn-blue-back: #ecf2fc;
  --btn-blue-text: #0b57d0;
  --anchor-text: black;
  --main-content-text: black;
  --sidebar-comp-text: black;
}

:root.dark-mode {
  /* Background */
  --blue-background: #163f5a;
  --gray-background: #1f2534;
  --side-bar-color: #1f1f1f;
  --add-btn-color: #1f1f1f;
  --add-btn-hover-color: #1f2534;
  --main-content-background: #1c1c21;
  --folder-color: #2b2b2b;
  --folder-hover: #373737;
  --folder-option: rgb(214, 214, 214);
  --popup-option: #1c1c21;
  --popup-option-hover: #1e222c;
  --dialog: white;
  --dialog-btn: white;
  --dialog-btn-hover: #f5f8fd;
  --row-border: #c7c7c7;
  --table: #2b2b2b;
  --table-hover: #373737;
  --web-title: #bfbfbf;

  /* Text */
  --blue-text: #004a77;
  --btn-blue-back: #1e222c;
  --btn-blue-text: #99b6e6;
  --anchor-text: #bfbfbf;
  --main-content-text: #bfbfbf;
  --sidebar-comp-text: #bfbfbf;
  --add-text: #bfbfbf;

  --reverse-blue-border: #99b6e6;
  --reverse-border-color: #bfbfbf;
}
a {
  text-decoration: none;
  color: var(--anchor-text);
}

/* Clipboard */
.clip-board {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 12px 20px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(-200%);
  z-index: 10000;
}

.clip-board.show {
  opacity: 1;
  transform: translateY(0);
}

.toggle-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.theme-icon {
  height: 32px;
  width: 32px;
}

.sun-icon {
  color: white;
}

.moon-icon {
  color: black;
}

.sun-icon.hidden {
  display: none;
}

.moon-icon.hidden {
  display: none;
}

.profile-pict-ctr {
  display: flex;
  align-items: center;
  gap: 24px;
}

.profile-pict.folder-options {
  padding: 12px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-blue-text);
  border-radius: 50%;
  border: 0px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.profile-pict.folder-options:hover {
  background-color: var(--btn-blue-text);
  color: white;
}

.popup.logout {
  z-index: 500;
}

body {
  display: flex;
}

.dashboard-container {
  /* display: grid; */
  /* grid-template-columns: repeat(12, 1fr); */
  height: 100vh;
  width: 100%;
  display: flex;
  /* background-color: blue; */
  overflow-y: hidden;
  background-color: #f8fafd;
  /* background-color: red; */
}

.web-title-head {
  font-size: 1.5rem;
  color: var(--web-title);
  /* font-weight: bold; */
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0px;
  padding-top: 18px;
  padding-left: 28px;
}

.header-icon {
  height: 30px;
  width: 30px;
}

.header-web-title-text {
  font-size: medium;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  align-items: center;
}

.sidebar-toggle.main,
.sidebar-toggle {
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  color: var(--add-text);
}

.sidebar-toggle.main.hidden {
  display: none;
}

.sidebar-toggle.hidden {
  display: none;
}

.sidebar {
  background-color: var(--side-bar-color);
  width: 350px;
  opacity: 100%;
  transform: translateX(0);
  transition: transform 0.5s ease, opacity 0.5s ease, background-color 0.3s ease;
}

.sidebar.hidden {
  transform: translateX(-100%);
  opacity: 0;
  display: none;
}

.add-btn.folder-options {
  padding: 6px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 12px;
  border: 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08), 0px 3px 5px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  background-color: var(--add-btn-color);
  color: var(--add-text);
  /* border: solid 2px var(--reverse-blue-border); */
}

.add-btn-ctr {
  margin-top: 18px;
  cursor: pointer;
}

.add-btn.folder-options:hover {
  background-color: var(--add-btn-hover-color);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15), 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.add-text {
  padding: 9px 20px 9px 16px;
  font-size: medium;
  display: flex;
  gap: 12px;
}

.plus-symbol {
  height: 24px;
  width: 24px;
}

.sidebar-component-ctr {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 24px;
}

.s-comp-icon {
  height: 18px;
  width: 18px;
}

.sidebar-comp {
  margin: 8px 12px;
  padding: 8px;
  border-radius: 12px;
  border: 0px;
  cursor: pointer;
  text-align: start;
  background-color: var(--side-bar-color);
  display: flex;
  align-items: center;
  color: var(--sidebar-comp-text);
}

.sidebar-comp.active {
  background-color: var(--blue-background);
  color: var(--btn-blue-text);
}

.sidebar-comp.active:hover {
  background-color: var(--blue-background);
  color: var(--btn-blue-text);
}

.comp-text {
  padding-left: 16px;
}
.sidebar-comp:hover {
  background-color: var(--gray-background);
}

.main {
  background-color: var(--side-bar-color);
  flex-grow: 1;
  width: 100%;
  /* margin: 12px; */
  /* border-radius: 12px; */
  display: flex;
  flex-direction: column;
}

.main-header {
  padding: 12px 12px 0px 12px;
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  align-items: center;
}

.main-content {
  margin: 12px;
  border-radius: 12px;
  height: 100%;
  background-color: var(--main-content-background);
  padding: 0px 24px 24px 24px;
  overflow-y: auto;
  scrollbar-width: thin;
  color: var(--main-content-text);
  /* position: sticky; */
}

.btn-section-ctr {
  position: sticky;
  top: 51px;
  z-index: 9;
  /* margin-top: 40px; */
  /* margin-bottom: 12px; */
  background-color: var(--main-content-background);
  padding-top: 12px;
  /* border-radius: 0px 0px 24px 24px; */
}

.main-content-title {
  position: sticky;
  top: 0;
  padding-top: 12px;
  z-index: 400;
  width: 100%;
  background-color: var(--main-content-background);
  border-top: solid var(--main-content-background) 3px;
  transform: translateY(-3px);
}

.hide-component {
  display: none !important;
}

.toggle-btn {
  width: 100%;
  max-width: 200px;
  font-size: medium;
  padding: 8px 8px 8px 12px;
  border-radius: 24px;
  border: 0px;
  background-color: var(--main-content-background);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 12px;
  transform: translateX(-15px);
  cursor: pointer;
  margin-bottom: 8px;
  color: var(--main-content-text);
  /* justify-content: space-between; */
}

.toggle-btn:hover {
  background-color: var(--btn-blue-back);
  color: var(--btn-blue-text);
}

.arrow-icon {
  height: 24px;
  width: 24px;
}

.welcome-text {
  font-size: x-large;
  /* padding-left: 12px; */
  display: flex;
  align-items: center;
}

.folder-container {
  display: flex;
  /* background-color: red; */
  flex-wrap: wrap;
  gap: 12px;
}

.small-folder-icon {
  height: 35px;
  width: 35px;
  color: var(--add-text);
}

.folder {
  display: flex;
  flex-grow: 1;
  /* max-width: 200px; */
  min-width: 200px;
  background-color: var(--folder-color);
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  max-width: calc(33.33% - 12px);
}

.folder:hover {
  background-color: var(--folder-hover);
}

.folder-name {
  width: 100%;
  padding-left: 12px;
  text-overflow: ellipsis;
}

.folder-link {
  padding: 6px 12px;
  border-radius: 18px;
  /* display: flex; */
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
}

.folder-link:hover {
  background-color: var(--gray-background);
}

.folder-options {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 3px;
  border: 0px;
  background-color: transparent;
  color: var(--add-text);
}

.folder-options:hover {
  background-color: var(--folder-hover);
  cursor: pointer;
}

.dot-img {
  height: 18px;
  width: auto;
}

.popup {
  position: absolute;
  list-style: none;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  width: fit-content;
  /* border-radius: 6px; */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.3);

  display: none;
  z-index: 2000;
  border: solid var(--reverse-border-color) 1px;
}

.trash-icon {
  height: 24px;
  width: 24px;
}

.opt-btn {
  padding: 6px 8px;
  width: 200px;
  text-align: start;
  cursor: pointer;
  border: 0px;
  /* border-radius: 6px; */
  background-color: var(--popup-option);
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1rem;
  color: var(--add-text);
}

.opt-btn:hover {
  background-color: var(--popup-option-hover);
  background-color: var(--table-hover);
}

.update-folder-dialog,
.delete-folder-dialog,
.share-folder-dialog,
.upload-dialog,
.create-folder-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 0px;

  height: 200px;
  max-width: 350px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.u-form,
.u-f-form,
.c-f-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}

.dialog-ctr {
  display: flex;
  flex-direction: column;
  background-color: var(--dialog);
  padding: 24px 24px 6px 24px;
  height: 100%;
  justify-content: space-around;
  z-index: 30;
}

.u-btn,
.c-f-btn {
  padding-left: 55%;
  display: flex;
  gap: 24px;
}

/* delete folder dialog */
.dialog-ctr.delete-folder {
  background-color: var(--main-content-background);
  border: solid var(--reverse-border-color) 1px;
  border-radius: 12px;
}

.share-folder-btn-ctr,
.delete-folder-btn-ctr {
  display: flex;
  justify-content: space-between;
}

.delete-folder-notif {
  text-align: center;
  color: var(--anchor-text);
  font-size: 1.1rem;
}

.delete-folder-notif-sub {
  text-align: center;
  color: gray;
  font-size: 0.8rem;
  margin-bottom: 12px;
}

.confirm-del-fold-btn,
.cancel-del-fold-btn {
  padding: 12px 24px;
  color: white;
  border-radius: 6px;
  border: solid 1px transparent;
  cursor: pointer;
}

.cancel-del-fold-btn {
  background-color: #c1c1c1;
  transition: background-color 0.3s ease;
}

.cancel-del-fold-btn:hover {
  background-color: #a9a9a9;
}

.confirm-del-fold-btn {
  background-color: #f15e5e;

  transition: background-color 0.3s ease;
}

.confirm-del-fold-btn:hover {
  background-color: #d95555;
}

.folder-name-input {
  padding: 9px;
  border: 1px solid black;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.folder-name-input:focus {
  border-color: var(--btn-blue-text);
  box-shadow: 0 0 2px var(--btn-blue-text);
}

.folder-id {
  display: none;
}

.u-cancel,
.u-submit,
.u-f-cancel,
.u-f-submit,
.c-f-cancel,
.c-f-submit {
  color: var(--btn-blue-text);
  border: 0px;
  background-color: var(--dialog-btn);
  cursor: pointer;
  /* font-weight: bold; */
  padding: 8px;
}

.u-cancel:hover,
.u-submit:hover,
.c-f-cancel:hover,
.c-f-submit:hover {
  background-color: var(--dialog-btn-hover);
  border-radius: 18px;
}

.c-f-title {
  font-size: large;
}

.choose-file {
  padding: 9px;
  border: 1px solid black;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  cursor: pointer;
}

.choose-file:focus {
  border-color: var(--btn-blue-text);
  box-shadow: 0 0 2px var(--btn-blue-text);
}

table {
  width: 100%;
  border-collapse: collapse;
  /* border: 1px solid #ddd; */
  /* table-layout: fixed; */
}

.main-table {
  /* background-color: #f3f4ed; */
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  padding: 12px;
}

th {
  text-align: start;
}

.column-data {
  border-top: 1px solid var(--row-border);
}

th {
  padding: 18px 0px;
  font-weight: bold;
  /* font-size: small; */
  font-size: 0.9rem;
}

td {
  padding: 12px 0px;
  padding-left: 12px;
  /* display: flex;
  flex-wrap: wrap; */
  /* background-color: red; */
}

.column-name {
  background-color: var(--table);
  z-index: 300;
  position: sticky;
  top: 100px;
}

.column-data:hover {
  background-color: var(--table-hover);
}

.td-name {
  max-width: 280px;
  /* background-color: red; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

.th-type,
.td-type {
  width: 80px; /* Adjust as needed */
  text-align: center;
}

.th-date,
.td-date {
  width: 300px;
  text-align: center;
  /* background-color: red; */
}

.th-size,
.td-size {
  width: 100px; /* Adjust as needed */
  text-align: center;
}

.th-opt,
.td-opt {
  width: 50px; /* Adjust as needed */
  text-align: center;
}

.main-table {
  width: 100%;
  border-collapse: collapse;
}

.main-table th,
.main-table td {
  padding: 8px;
  text-align: left;
}

@media (max-width: 830px) {
  .td-date,
  .th-date {
    display: none;
  }
}

@media (max-width: 700px) {
  .td-type,
  .th-type,
  .td-date,
  .th-date {
    display: none;
  }
  .folder {
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .td-size,
  .th-size,
  .td-type,
  .th-type,
  .td-date,
  .th-date {
    display: none;
  }
}

@media (max-width: 650px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  .sidebar {
    /* display: none; */
    position: absolute;
    height: 100vh;
    z-index: 500;
    opacity: 0;
    width: 80%;
    transform: translateX(-1%);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .sidebar.show {
    opacity: 100%;
    transform: translateX(0);
  }

  .sidebar.hidden {
    display: block;
  }

  .sidebar-toggle.main.hidden {
    display: inline;
  }

  .main-content {
    padding: 0px 0px 24px 24px;
  }
  .main-content {
    margin: 12px;
    border-radius: 12px;
    height: 100%;
    background-color: var(--main-content-background);
    padding: 0px 0px 24px 0px;
  }
}
