* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --blue-background: #c2e7ff;
  --blue-text: #004a77;
  --gray-background: #e7e8eb;
  --btn-blue-back: #ecf2fc;
  --btn-blue-text: #0b57d0;
}

body {
  display: flex;
}

.dashboard-container {
  /* display: grid; */
  /* grid-template-columns: repeat(12, 1fr); */
  height: 100vh;
  width: 100%;
  display: flex;
  /* background-color: blue; */
  overflow-y: hidden;
  background-color: #f8fafd;
}

.web-title-head {
  font-size: 1.5rem;
  color: #444746;
  /* font-weight: bold; */
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0px;
  padding-top: 18px;
  padding-left: 28px;
}

.header-icon {
  height: 40px;
  width: 40px;
}

.sidebar {
  background-color: #f8fafd;
}

.add-btn {
  padding: 6px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 12px;
  border: 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08), 0px 3px 5px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  background-color: white;
}

.add-btn-ctr {
  margin-top: 18px;
}

.add-btn:hover {
  background-color: #f0f0f0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15), 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.add-text {
  padding: 9px 20px 9px 16px;
  font-size: medium;
  display: flex;
  gap: 12px;
}

.plus-symbol {
  height: 18px;
  width: 18px;
}

.sidebar-component-ctr {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 24px;
}

.s-comp-icon {
  height: 18px;
  width: 18px;
}

.sidebar-comp {
  margin: 8px 12px;
  padding: 8px;
  border-radius: 12px;
  border: 0px;
  cursor: pointer;
  text-align: start;
  background-color: #f8fafd;
  display: flex;
  align-items: center;
}

.comp-text {
  padding-left: 16px;
}
.sidebar-comp:hover {
  background-color: var(--gray-background);
}

.main {
  background-color: #f8fafd;
  flex-grow: 1;
  width: 100%;
  /* margin: 12px; */
  /* border-radius: 12px; */
  display: flex;
  flex-direction: column;
}

.main-header {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.main-content {
  margin: 12px;
  border-radius: 12px;
  height: 100%;
  background-color: white;
  padding: 0px 24px 24px;
  overflow-y: auto;
  scrollbar-width: thin;
  /* position: sticky; */
}

.btn-section-ctr {
  position: sticky;
  top: 51px;
  z-index: 9;
  /* margin-top: 40px; */
  /* margin-bottom: 12px; */
  background-color: white;
  padding-top: 12px;
  /* border-radius: 0px 0px 24px 24px; */
}

.main-content-title {
  position: sticky;
  top: 0;
  padding-top: 24px;
  z-index: 10;
  background-color: white;
}

.hide-component {
  display: none !important;
}

.toggle-btn {
  width: 100%;
  max-width: 220px;
  font-size: medium;
  padding: 8px 8px 8px 12px;
  border-radius: 24px;
  border: 0px;
  background-color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 12px;
  transform: translateX(-15px);
  cursor: pointer;
  margin-bottom: 8px;
}

.toggle-btn:hover {
  background-color: var(--btn-blue-back);
  color: var(--btn-blue-text);
}

.arrow-icon {
  height: 24px;
  width: 24px;
}

.welcome-text {
  font-size: x-large;
  /* padding-left: 12px; */
  display: flex;
  align-items: center;
}

.folder-container {
  display: flex;
  /* background-color: red; */
  flex-wrap: wrap;
  gap: 12px;
}

.small-folder-icon {
  height: 24px;
  width: 24px;
}

.folder {
  display: flex;
  flex-grow: 1;
  /* max-width: 200px; */
  min-width: 200px;
  background-color: #f0f4f9;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.folder:hover {
  background-color: #dfe3e7;
}

.folder-name {
  width: 100%;
  padding-left: 12px;
}

.folder-link {
  padding: 6px 12px;
  border-radius: 18px;
  /* display: flex; */
  align-items: center;
}

.folder-link:hover {
  background-color: var(--gray-background);
}
