* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-blue: #1a73e8;
  --dark-blue: #174ea6;
}

.spacer {
  height: 100px;
  /* background-color: red; */
}

.text-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  height: fit-content;
  flex-direction: column;
  /* background-color: blue;     */
}

.nav-container {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  padding: 10px 9px 10px 24px;
  font-size: 1rem;
  height: fit-content;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* background-color: red; */
  z-index: 2;
}

.btn-primary-ctr {
  display: inline-flex; /* Makes it behave like a button */
  justify-content: center;
  align-items: center;
  height: 46px;
  padding: 0 18px;
  border-radius: 3px;
  border: 0px solid var(--primary-blue);
  background-color: var(--primary-blue);
  text-decoration: none;
  color: white;
  font-size: large;
  /* width: 100%; */
  cursor: pointer;
  transition: background-color 0.2s ease, border 0.2s ease;
}

.btn-primary-ctr:hover {
  border: 0px solid var(--dark-blue);
  background-color: var(--dark-blue);
}

/* HEADER */
.header-grid {
  height: fit-content;
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 16px;
  padding: 0px 26px;
  align-items: center;
  /* background-color: beige; */
}

.header-container {
  grid-column: 2/12;
  display: flex;
  justify-content: center;
}

.left-header {
  /* padding: 32px 0px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-column: 2/8;
  padding-right: 36px;
  height: 400px;
  padding-left: 32px;
}

/* .right-header {

} */

.web-title-head {
  font-size: 1.5rem;
  color: #5f6368;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 12px;
}

.head-b-text {
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 400px;
  font-weight: bold;
}

.head-s-text {
  font-size: 1.1rem;
  max-width: 400px;
  color: #5f6368;
}

.header-icon {
  height: 50px;
  width: 50px;
}

.right-header {
  grid-column: 8/12;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-behind,
.image-front {
  position: absolute;
}

.header-img {
  width: 350px;
  max-width: 350px;
  /* aspect-ratio: 1 / 1; */
  z-index: 2;
}

.image-behind {
  height: 80px;
  width: 80px;
  z-index: 1;
  /* aspect-ratio: 1/1; */
}

.file-icon {
  transition: transform 0.5s ease-in-out;
  transform: rotate(0deg) translate(0, 0);
}

.jpg-icon {
  transform: translate(0, 0);
  transition: transform 0.5s ease-in-out;
}

.txt-icon {
  transform: rotate(0deg) translate(0, 0);
  transition: transform 0.5s ease-in-out;
}

.header-img:hover {
  cursor: pointer;
}

/* Hover Effect - 1/4 Circular Motion */
.header-img:hover ~ .file-icon {
  transform: rotate(45deg) translate(50px, -190px);
}

.header-img:hover ~ .jpg-icon {
  transform: translate(0px, -180px);
}

.header-img:hover ~ .txt-icon {
  transform: rotate(-45deg) translate(-50px, -190px);
}

@media (max-width: 1020px) {
  .left-header {
    display: flex;
    /* flex-direction: column; */
    gap: 24px;
    /* justify-content: space-around; */
    grid-column: 2/12;
    grid-row: 1;
    padding-right: 0px;
    height: 300px;
    padding-left: 0px;
    margin-bottom: 64px;
  }

  .web-title-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  /* .right-header {

  } */

  .right-header {
    grid-row: 2;
    grid-column: 2/12;
    height: 400px;
  }

  .header-img {
    width: 200px;
    max-width: 200px;
    /* aspect-ratio: 1 / 1; */
    z-index: 2;
  }

  .image-behind {
    height: 50px;
    width: 50px;
    /* aspect-ratio: 1/1; */
  }

  .header-img:hover ~ .file-icon {
    transform: rotate(45deg) translate(50px, -140px);
  }

  .header-img:hover ~ .jpg-icon {
    transform: translate(0px, -130px);
  }

  .header-img:hover ~ .txt-icon {
    transform: rotate(-45deg) translate(-50px, -140px);
  }

  .head-b-text {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    font-weight: bold;
    text-align: center;
  }

  .web-title {
    text-align: center;
    font-size: 1.4rem;
  }

  .head-s-text {
    font-size: 0.8rem;
    max-width: 100%;
    text-align: center;
    color: #5f6368;
  }

  .head-btn-ctr {
    display: flex;
    justify-content: center;
  }

  .btn-primary-ctr {
    /* height: 46px; */
    padding: 0 0px;
    width: 90px;
    text-align: center;
  }
  .web-title.nav {
    text-align: start;
    font-size: 1.1rem;
  }
}
