<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles/dashboard.css" />
  </head>
  <body>
    <div class="dashboard-container">
      <div class="sidebar">
        <h1>Welcome back <%= local.username %></h1>
        <button><a href="/log-out">Log Out</a></button>
      </div>
      <div class="main"></div>
    </div>
  </body>
</html>
