<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cloudnest Drive</title>
    <link rel="stylesheet" href="/styles/landing.css" />
    <link rel="shortcut icon" href="../icons/folder.png" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      <header class="nav-container">
        <div class="text-align">
          <h2 class="web-title nav">
            <span style="color: #4285f4">C</span
            ><span style="color: #ea4335">l</span
            ><span style="color: #fbbc04">o</span
            ><span style="color: #4285f4">u</span
            ><span style="color: #34a853">d</span
            ><span style="color: #ea4335">N</span
            ><span style="color: #4285f4">e</span
            ><span style="color: #ea4335">s</span
            ><span style="color: #fbbc04">t</span>
            <span style="color: #5f6368">Workspace</span>
          </h2>
        </div>
        <a href="/sign-in" class="btn-primary-ctr">Sign in</a>
      </header>
      <div class="spacer"></div>
      <div class="main-container">
        <div class="header-grid">
          <!-- <div class="header-container"> -->
          <div class="left-header">
            <div class="web-title-head web-title">
              <img src="../icons/folder.png" class="header-icon" />Cloud Drive
            </div>
            <div class="head-b-text">Store and share files online</div>
            <div class="head-s-text">
              Effortlessly upload, access, and manage your files from anywhere.
            </div>
            <div class="head-btn-ctr">
              <a href="/sign-in" class="btn-primary-ctr">Sign in</a>
            </div>
          </div>
          <div class="right-header">
            <img
              src="../icons/clouds.png"
              alt=""
              class="header-img image-front big-card"
            />
            <img
              src="../icons/file.png"
              alt=""
              class="image-behind file-icon little-card"
            />
            <img
              src="../icons/jpg.png"
              alt=""
              class="image-behind jpg-icon little-card"
            />
            <img
              src="../icons/txt.png"
              alt=""
              class="image-behind txt-icon little-card"
            />
          </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </body>
</html>
