<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cloudnest | Sign in</title>
    <link rel="stylesheet" href="../styles/signInPage.css" />
    <link rel="shortcut icon" href="../icons/folder.png" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      <div class="left-side">
        <div class="left-item-ctr">
          <div class="web-title-head web-title">
            <img src="../icons/folder-auth.png" class="header-icon" />
            <p class="header-web-title-text">Cloud Drive</p>
          </div>
          <div class="head-b-text">Store and share files online</div>
          <div class="head-s-text">
            Effortlessly upload, access, and manage your files from anywhere.
          </div>
          <div class="header-img-ctr">
            <img
              src="../icons/white-cloud.png"
              alt=""
              class="header-img image-front big-card"
            />
          </div>
        </div>
      </div>
      <div class="right-side">
        <div class="login-container">
          <h2 class="login-title">Sign In</h2>
          <form action="/sign-in" method="POST" class="login-form">
            <input
              name="username"
              type="text"
              placeholder="username"
              class="input-box username-input"
              value="<%= value.username %>"
            />
            <% if (value.usernameError) { %>
            <div class="error-message">
              <p><%= value.usernameError %></p>
            </div>
            <% } %>
            <input
              name="password"
              type="password"
              placeholder="password"
              class="input-box password-input"
              value="<%= value.password %>"
            />
            <% if (value.passwordError) { %>
            <div class="error-message">
              <p><%= value.passwordError %></p>
            </div>
            <% } %>
            <button type="submit" class="submit-btn">Sign in</button>
          </form>
          <div class="sign-up-info">
            Don't have an account?
            <a href="/sign-up" class="create-acc">Create Account</a>
          </div>
        </div>
      </div>
    </div>
    <script>
      const webTitle = document.querySelector(".header-web-title-text");
      const headerIcon = document.querySelector(".header-icon");
      webTitle.addEventListener("click", () => {
        window.location.href = "/";
      });
      headerIcon.addEventListener("click", () => {
        window.location.href = "/";
      });
    </script>
  </body>
</html>
