<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cloudnest | Sign in</title>
    <link rel="shortcut icon" href="../icons/folder.png" type="image/x-icon" />
  </head>
  <body>
    <form action="/sign-in" method="POST">
      <input name="username" type="text" placeholder="username" />
      <input name="password" type="text" placeholder="password" />
      <button type="submit">Log in</button>
    </form>
  </body>
</html>
