<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <form action="/sign-up" method="POST">
      <input name="username" type="text" placeholder="username" required />
      <input name="email" type="email" placeholder="email" required />
      <input name="password" type="text" placeholder="password" required />
      <button type="submit">Sign up</button>
    </form>
  </body>
</html>
